@media screen and (min-width: 1400px) {
  header {
    height: 665px;
  }
  header .header-main-box {
    height: 532px;
  }
  header .header-main-box .header-data .header-splash-image {
    width: 570px;
  }
  header .header-main-box .header-data .header-pic-image {
    width: calc(45% - 100px);
  }
}
@media screen and (max-width: 768px) {
  header .header-main-box .header-data .header-content {
    padding: 1rem;
    font-size: 1.7rem;
  }
  header .header-main-box .header-data .header-content h1 {
    font-size: inherit;
  }
  header .header-main-box .header-data .header-content .headertextdata {
    font-size: inherit;
  }
  header .header-main-box .header-data .header-content .headertextdata h1 {
    font-size: inherit;
  }
  header .header-main-box .header-data .header-content .headertextdata ul {
    font-size: 1.5rem;
    padding-left: 0.5rem;
    height: 30px;
  }
  header .header-main-box .header-data .header-content .headertextdata ul li::before {
    height: calc(100% - 10px);
  }
  header .header-main-box .header-data .header-content .quote-line {
    margin: 0px;
    font-size: 1rem;
    padding-left: 2.7rem;
  }
  header .header-main-box .header-data .header-content .quote-line span {
    font-size: 2.5rem;
  }
  header .header-main-box .header-data .header-splash-image {
    width: 60%;
  }
  header .header-main-box .header-data .header-pic-image {
    width: 45%;
  }
  .aboutmeSec .aboutme-box .image {
    width: 30%;
  }
  .aboutmeSec .aboutme-box .image img {
    width: 100%;
  }
  .aboutmeSec .aboutme-box .aboutme-content {
    margin-left: -3.2rem;
    margin-bottom: 0.5rem;
    padding: 2rem 1.5rem;
    width: 70%;
  }
  .aboutmeSec .aboutme-box .aboutme-content .about-data article p {
    font-size: 0.9rem;
  }
  .aboutmeSec .aboutme-box .aboutme-content .experience .exprnc-card-box {
    width: 30%;
  }
  .skillsSec .skill .skill-content .skill-image img {
    transform: translateX(-60px);
  }
  footer .footer .contact-data .contact-content {
    width: 52%;
  }
  footer .footer .contact-data .contact-form {
    width: 45%;
  }
  footer .footer .contact-data .contact-form form {
    width: 95%;
  }
  .heading {
    font-size: 3rem;
  }
  @keyframes slide {
    100% {
      top: -70px;
    }
  }
}
@media screen and (max-width: 425px) {
  header .nameBox {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  header .header-main-box {
    height: 85vh;
  }
  header .header-main-box .header-data .header-content {
    font-size: 1.4rem;
  }
  header .header-main-box .header-data .header-content h1 {
    font-size: inherit;
    margin: 0px;
  }
  header .header-main-box .header-data .header-content .headertextdata {
    font-size: inherit;
  }
  header .header-main-box .header-data .header-content .headertextdata h1 {
    font-size: inherit;
    margin: 0px;
  }
  header .header-main-box .header-data .header-content .headertextdata ul {
    font-size: 1.1rem;
    height: 25px;
  }
  header .header-main-box .header-data .header-content .headertextdata ul li::before {
    top: 5px;
    height: calc(100% - 5px);
  }
  header .header-main-box .header-data .header-content .quote-line {
    width: 100%;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0.4rem;
    padding-left: 2rem;
  }
  header .header-main-box .header-data .header-content .quote-line article {
    line-height: 22px;
  }
  header .header-main-box .header-data .header-content .quote-line span {
    font-size: 2rem;
  }
  header .header-main-box .header-data .header-splash-image {
    width: 84%;
    height: auto;
    bottom: -50px;
  }
  header .header-main-box .header-data .header-pic-image {
    width: 66%;
    bottom: 0px;
  }
  .aboutmeSec .aboutme-box {
    display: block;
  }
  .aboutmeSec .aboutme-box .image {
    display: none;
  }
  .aboutmeSec .aboutme-box .aboutme-content {
    width: 100%;
    margin: 0px;
  }
  .aboutmeSec .aboutme-box .aboutme-content .about-data article p {
    font-size: 0.9rem;
  }
  .aboutmeSec .aboutme-box .aboutme-content .experience {
    display: block;
  }
  .aboutmeSec .aboutme-box .aboutme-content .experience .exprnc-card-box {
    width: 90%;
    margin: auto;
    margin-bottom: 2rem;
  }
  .skillsSec .skill .skill-content {
    display: block;
  }
  .skillsSec .skill .skill-content .skill-data,
  .skillsSec .skill .skill-content .skill-image {
    width: 95%;
    margin: auto;
  }
  .skillsSec .skill .skill-content .skill-image img {
    transform: translateX(0px);
  }
  .skillsSec .skill .skill-content .skill-data .skill-box {
    width: 110px;
    height: 110px;
    padding: 0px;
  }
  footer .footer .contact-data {
    display: block;
  }
  footer .footer .contact-data .contact-form,
  footer .footer .contact-data .contact-content {
    width: 90%;
    margin: auto;
  }
  footer .footer .contact-data .contact-form {
    margin-top: 3rem;
  }
  .heading {
    font-size: 2rem;
  }
  @keyframes slide {
    100% {
      top: -54px;
    }
  }
}
@media screen and (max-width: 375px) {
  header .nameBox {
    padding-left: 1rem;
  }
  .skillsSec .skill .skill-content .skill-data .skill-box {
    width: 80px;
    height: 80px;
    padding: 0px;
  }
  .skillsSec .skill .skill-content .skill-data .skill-box .skill-front img {
    width: 50px;
  }
  .skillsSec .skill .skill-content .skill-data .skill-box .skill-back h4 {
    font-size: 1rem;
  }
  .heading {
    font-size: 1.7rem;
    letter-spacing: 1px;
  }
}
@media screen and (max-width: 375px) {
  .container-xl {
    padding: 0px;
  }
  header .nameBox {
    padding-left: 1rem;
  }
  header .nameBox h1 {
    font-size: 2rem;
  }
  .skillsSec .skill .skill-content .skill-data .skill-box {
    width: 75px;
    height: 75px;
  }
  .heading {
    font-size: 1.7rem;
    letter-spacing: 1px;
  }
}/*# sourceMappingURL=responsive.css.map */