//  ***************************** Home Page CSS

//  -------------------------- Welcome Section CSS
.wecomeSec {
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 149;
    .welcomeBox {
        width: 400px;
        height: 80vh;
        background-image: url("../image/welcomebgpopper.gif");
        position: relative;
        .gifBox {
            background-image: url("../image/welcomebgtext.png"), url("../image/welcomebgpartycracker.gif");
            background-repeat: no-repeat;
            background-size: contain;
            background-position:
                center top 100px,
                center bottom -120px;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .welcomeContent {
            background-color: rgba($color: $primary, $alpha: 0.5);
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            padding: 0.5rem 1rem;
            h1 {
                font-family: "Bacasime Antique", serif;
                font-weight: bold;
                text-transform: uppercase;
                color: $light;
                font-size: 3rem;
                margin: 0px;
            }
            button {
                background-image: linear-gradient(to right, $secondry, $secondry);
                margin-top: 1rem;
                color: $light;
                font-size: 1.2rem;
                padding: 0.1rem 1.5rem;
            }
        }
    }
}

//  -------------------------- Navigation Section CSS
nav{
    position: fixed;
    top: 22%;
    left: 0px;
    width: 60px;
    height: max-content;
    transform: translateX(-50px);
    z-index: 199;
    cursor: pointer;
    transition: transform ease-in-out .3s;
    .nav{
        padding: .5rem .7rem;
        background-color: $primary;
        border-radius: 0px 40px 40px 0px;
        box-shadow: 0px 0px 2px 2px $light;
        position: relative;
        ul{
            list-style: none;
            width: 100%;
            margin: 0px;
            padding: 0px;
            pointer-events: none;
            li{
                display: flex;
                margin: 1rem 0px;
                a{
                    padding: .2rem;
                    border-radius: 0px 50% 0px 50%;
                    box-shadow: 0px 0px 5px 1px $light;
                    border: 1px solid $light;
                    transition: transform ease-in-out .3s, box-shadow ease-in-out .2s;
                    img{
                        width: 20px;
                    }
                }
                span{
                    background-color: $dark;
                    color: $light;
                    padding: .2rem 1rem;
                    border-radius: 50%;
                    transform: translate(40px, 15px);
                    pointer-events: none;
                    opacity: 0;
                    position: relative;
                    transition: transform ease-in-out .5s, opacity ease-in-out .4s;
                    &::before{
                        content: '';
                        position: absolute;
                        top: 13px;
                        left: -1px;
                        width: 12px;
                        height: 12px;
                        background-color: $dark;
                        // transform: rotate(-45deg);
                        transform: rotate(-20deg) skew(50deg);
                        z-index: -1;
                    }
                }
                &:hover{
                    a{
                        background-color: $secondry;
                        box-shadow: 0px 0px 5px 3px $light;
                        transform: scale(1.3);
                    }
                    span{
                        transform: translate(40px, -1px);
                        opacity: 1;
                    }
                }
            }
        }
        .click-icon{
            position: absolute;
            right: -8px;
            top: calc(40% + 15px);
            color: $light;
            font-size: 1.5rem;
            // background-color: $light;
            border-radius: 0px 2px 2px 0px;
        }
    }
    &:hover{
        transform: translateX(0px);
        .nav{
            ul{
                pointer-events: auto;
            }
            .click-icon{
                transform: rotate(180deg);
            }
        }
    }
}


//  -------------------------- Header Section CSS
header {
    width: 100%;
    height: 100vh;
    background-color: $primary;
    position: relative;
    .nameBox {
        padding: 0.5rem 0px 0.5rem 3rem;
        h1 {
            display: inline-block;
            font-family: "Alegreya SC", serif;
            color: $light;
            font-size: 3rem;
            text-shadow: 7px 4px 4px rgba(0, 0, 0, 0.3);
            transform-origin: 10% 40%;
            transition: transform ease-in-out 0.5s;
            font-style: italic;
            &:hover {
                transform: scale(1.2);
            }
            span {
                font-family: inherit;
                font-size: 2.5rem;
                font-weight: inherit;
            }
        }
    }
    .header-main-box {
        width: 100%;
        height: 80vh;
        margin: auto;
        background-color: $light;
        border-radius: 20px;
        box-shadow: 2px 2px 5px 4px rgba(0, 0, 0, 0.25);
        position: relative;
        .header-data {
            width: 100%;
            height: 100%;
            display: flex;
            position: relative;
            .header-content {
                padding: 1rem 2rem;
                h1{
                    margin: 0px;
                }
                .headertextdata {
                    display: flex;
                    h1{
                        margin: 0px;
                    }
                    ul {
                        list-style: none;
                        font-size: 2.2rem;
                        font-weight: bold;
                        padding-left: 1rem;
                        height: 60px;
                        overflow: hidden;
                        li {
                            position: relative;
                            top: 0px;
                            color: $primary;
                            animation: slide 6s steps(2) infinite;
                            &::before {
                                content: "";
                                width: 100%;
                                height: calc(100% - 18px);
                                position: absolute;
                                top: 8px;
                                left: 0px;
                                border-left: 2px solid $primary;
                                background-color: $light;
                                animation: typing 3s steps(8) infinite;
                            }
                        }
                    }
                }
                .quote-line {
                    color: $secondry;
                    width: calc(50% + 50px);
                    padding: 1.5rem 2rem 1.5rem 3.5rem;
                    font-size: 1.1rem;
                    margin-left: 1rem;
                    border-radius: 0px 70px 0px 70px;
                    position: relative;
                    article {
                        font-family: "Charm", cursive;
                        font-style: italic;
                    }
                    span {
                        position: absolute;
                        top: -10px;
                        left: 0px;
                        font-size: 3rem;
                    }
                }
            }
            .header-splash-image {
                position: absolute;
                right: -50px;
                bottom: -30px;
                width: 50%;
                height: 600px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .header-pic-image {
                position: absolute;
                right: 0px;
                bottom: 20px;
                width: calc(45% - 45px) ;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .header-wave {
            width: 100%;
            position: absolute;
            bottom: -10px;
            left: 0px;
        }
    }
    .down-arrow {
        position: absolute;
        bottom: 10px;
        left: 50%;
        width: 20px;
        height: 20px;
        transform: rotate(45deg);
        border-bottom: 2px solid $secondry;
        border-right: 2px solid $secondry;
        animation: moveDown 2s infinite;
        &:hover {
            animation-play-state: paused;
        }
        .down-arrow2 {
            width: 10px;
            height: 10px;
            margin: 4px;
            border-bottom: 2px solid $secondry;
            border-right: 2px solid $secondry;
        }
    }
}

//  -------------------------- About Section CSS
.aboutmeSec {
    // background-color: rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(rgba($color: $light, $alpha: 0.5), rgba($color: $light, $alpha: 0.5)),
        url("../image/aboutbg.jpg");
    background-size: cover;
    background-attachment: fixed;
    .aboutme-box {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        color: $light;
        .image {
            z-index: 1;
            .mobabout{
                display: none;
            }
        }
        .aboutme-content {
            background-color: $primary;
            padding: 2rem 3rem;
            margin-bottom: 1rem;
            margin-left: -4.2rem;
            border-radius: 5px;
            .about-data {
                // background-color: rgba($color: $primary, $alpha: 0.3);
                .heading {
                    color: $secondry;
                    &::after,
                    &::before {
                        border-color: $light;
                    }
                }
                article {
                    margin-bottom: 2rem;
                    p {
                        margin: 0px;
                        // font-size: 1.1rem;
                        &:first-child {
                            font-size: 1.3rem;
                        }
                    }
                }
            }
            .experience {
                display: flex;
                justify-content: space-around;
                text-align: center;
                .exprnc-card-box {
                    background-color: $light;
                    width: 25%;
                    color: $primary;
                    padding: 1.5rem 1.5rem 0px 1.5rem;
                    border-radius: 40px;
                    position: relative;
                    z-index: 1;
                    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.4);
                    cursor: pointer;
                    &::after,
                    &::before {
                        content: "";
                        position: absolute;
                        left: 0px;
                        width: 100%;
                        z-index: -1;
                    }
                    &::after {
                        bottom: 0px;
                        height: 70%;
                        border-radius: 0px 0px 40px 40px;
                        transition: bottom ease-in-out 0.4s;
                    }
                    &::before {
                        top: 0px;
                        height: 30%;
                        border-radius: 40px 40px 0px 0px;
                        transition: top ease-in-out 0.4s;
                    }
                    &:hover {
                        background-color: $primary;
                        box-shadow: none;
                        &::before {
                            top: -10px;
                        }
                        &::after {
                            bottom: -10px;
                        }
                        &::before,
                        &::after {
                            background-color: $light;
                            box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.4);
                        }
                        .exprnc-icon-box {
                            img {
                                transform: rotate(359deg);
                            }
                        }
                    }

                    .exprnc-icon-box {
                        width: 50px;
                        margin: auto;
                        margin-bottom: 0.5rem;
                        padding: 0.5rem;
                        border-radius: 50%;
                        background-color: $secondry;
                        img {
                            width: 100%;
                            transition: transform ease-in-out 0.5s;
                        }
                    }
                    // .exrnc-card-content{

                    // }
                }
            }
        }
    }
}


//  -------------------------- Skills Section CSS
.skillsSec {
    background-color: #F8F8F8;
    .skill {
        .heading {
            color: $primary;
            &::after,
            &::before {
                border-color: $secondry;
            }
        }
        .skill-content {
            display: flex;
            align-items:center;
            .skill-image {
                width: 30%;
            }
            .skill-data {
                width: 70%;
                .skill-box {
                    padding: 1rem;
                    position: relative;
                    width: 120px;
                    height: 120px;
                    .skill-front,
                    .skill-back {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        backface-visibility: hidden;
                        cursor: pointer;
                        border-radius: 5px 5px 50px 50px;
                        color: $light;
                        transition: transform 0.4s;
                    }
                    .skill-front {
                        background-color: $primary;
                        img {
                            width: 80px;
                        }
                    }
                    .skill-back {
                        background-color: $secondry;
                        transform: perspective(800px) rotateX(-180deg);
                    }
                    &:hover {
                        .skill-front {
                            transform: perspective(800px) rotateX(180deg);
                        }
                        .skill-back {
                            transform: perspective(800px) rotateX(0);
                        }
                    }
                }
            }
        }
    }
}

//  -------------------------- Project Section CSS
.projectSec{
    background-color: rgba($color: $primary, $alpha: 0.2);
    .project{
        .heading {
            color: $primary;
            &::after,
            &::before {
                border-color: $secondry;
            }
        }
        .project-data{
            padding-top: 3rem;
            .project-card-box{
                border-radius: 20px;
                width: 100%;
                overflow: hidden;
                box-shadow: 1px 1px 2px 3px $dark;
                position: relative;
                .projectcard-img{
                    border-radius: inherit;
                    width: inherit;
                    img{
                        width: inherit;
                        border-radius: inherit;
                    }
                }
                .project-card-content{
                    position: absolute;
                    bottom: 0px;
                    left: 0px;
                    width: 100%;
                    height: 0px;
                    overflow: hidden;
                    text-align: center;
                    color: $light;
                    background-color: rgba($color: $primary, $alpha: 0.7);
                    border-radius: 0px 0px 20px 20px;
                    transition: height ease-in-out .3s;
                    .project-card-icon{
                        margin: 1rem 0px;
                        font-size: 2rem;
                    }
                    .project-full-image-layer{
                        display: none;
                        position: fixed;
                        top: 0px;
                        left: 0px;
                        width: 100%;
                        height: 100vh;
                        background-color: rgba($color: $dark, $alpha: 0.5);
                        z-index: 99;
                        overflow: auto;
                        .project-full-image-box{
                            position: relative;
                            .project-icon{
                                position: absolute;
                                right: 0px;
                                top: 0px;
                                width: 50px;
                                font-size: 2rem;
                                background-color: rgba($color: $dark, $alpha: 0.5);
                            }
                        }
                    }
                }
                cursor: pointer;
                &:hover{
                    .project-card-content{
                        height: 130px;
                    }
                }
            }
        }
    }
}

//  -------------------------- Project Section CSS
footer{
    background-color: $primary;
    .footer{
        .heading {
            color: $secondry;
            &::after,
            &::before {
                border-color: $light;
            }
        }
        .contact-data{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .contact-content,
            .contact-form{
                width: 47%;
            }
            .contact-content{
                color: $light;
            }
            .contact-form{
                form{
                    width: 80%;
                    background-color: $light;
                    border-radius: 20px;
                    padding: 1rem;
                    input,
                    textarea{
                        background-color: $gray;
                        color: $primary;
                        width: 100%;
                        margin: .7rem auto;
                        padding: .5rem 1rem;
                        border: none;
                        outline: none;
                        border-radius: 10px;
                        border-left: 1px solid $primary;
                        border-bottom: 1px solid $primary;
                        border-right: 1px solid $primary;
                    }
                    input::placeholder,
                    textarea::placeholder{
                        color: $primary;
                    }
                    button{
                        width: 150px;
                        margin-left: calc(50% - 75px);
                        margin-top: 1rem;
                        padding: .3rem 1rem;
                        border: none;
                        outline: none;
                        border-radius: 10px;
                        color: $light;
                        background-color: $secondry;
                        font-size: 1.2rem;
                        border-left: 2px solid $primary;
                        border-bottom: 2px solid $primary;
                        border-right: 2px solid $primary;
                        position: relative;
                        z-index: 1;
                        cursor: pointer;
                        overflow: hidden;
                        &::after{
                            content: '';
                            position: absolute;
                            bottom: 0px;
                            left: 0px;
                            width: 100%;
                            height: 0px;
                            background-color: $primary;
                            border-radius: 8px;
                            z-index: -1;
                            transition: height ease-in-out .3s;
                            // border: 2px solid $primary;
                        }
                        &:hover::after{
                            height: 38px;
                        }
                    }
                }
            }
        }
    }
}